.container {
  background-color: green;
  height: 60px;
  width: 1300px;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  width: 600px;
  height: 500px;
  margin-left: 350px;
}

.searchBar {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.Left {
  flex: 1;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  width: "50px";
}

.center {
  flex: 1;
  text-align: center;
}

.Logo {
  font-weight: bold;
  font-size: 24px;
}

.orderStatus {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.img {
  width: 410px;
  align-self: center;
  margin-left: 50px;
}

.cancelOrder {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  height: 55px;
  border: solid black;
  cursor: pointer;
  background-color: green;
  color: white;
}
